.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureCard {
  transition: transform 0.2s ease-in-out;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem; /* Increased margin */
}

.featureCard:hover {
  transform: scale(1.05);
  border-color: var(--ifm-color-primary);
}

.featureLink {
  color: inherit;
  text-decoration: none;
}

.featureLink:hover {
  color: inherit;
  text-decoration: none;
}
